* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #1F2937;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1em;
  width: 95%;
}

.text-color-green {
  color: #4ADF86;
}

.button-container {
  border-bottom: 1px solid #273549;
}

.btn {
  display: inline-block;
  border: none;
  padding: .5em 1.3em;
  border-radius: 5px;
  font-size: 1rem;
  margin-bottom: 1.7em;
  cursor: pointer;
}

.btn-primary {
  background-color: #10B981;
  color: inherit;
}

.title {
  font-size: 2.5rem;
  max-width: 350px;
  margin-bottom: 0;
}

.password-length-container,
.checkbox-container {
  margin-bottom: 1em;
}

.subheading {
  font-size: 1.25rem;
  color: #D5D4D8;
  margin-top: .5em;
}

label {
  margin-right: .5em;
}

#password-length {
  padding: 0.5em 1em;
  border-radius: 5px;
  border: none;
  margin-bottom: .5em;
  min-width: 125px;
}

.checkbox-container label {
  margin-right: 0;
}

.input-wrapper {
  margin-bottom: .5em;
}

#feedback-message {
  margin-top: 0;
  color: #FF4C4C;
}

.generate-passwords {
  display: flex;
  margin-top: 1.5em;
}

.generate-password {
  background-color: #273549;
  padding: 1.3em 2em;
  margin-right: 1.5em;
  width: 50%;
  border-radius: 5px;
  color: #55F991;
  text-align: center;
  word-wrap: break-word;
}

@media (max-width: 850px) {
  .title {
    font-size: 2rem;
    max-width: 250px;
  }

  .generate-passwords {
    flex-direction: column;
  }

  .generate-password {
    min-width: 215px;
    width: 90%;
  }
}

@media (max-width: 420px) {
  #feedback-message {
    max-width: 250px;
  }
}